body {
    background-color: darkblue;
    color: #0000ee;
    line-height: 1.3em;
    font-size: 1.3em;
}

h1 {
    text-decoration: underline;
    text-align: center;
    text-decoration-color: black;
    color: cornflowerblue;
}

h2,
h3 {
    text-decoration: underline;
    text-decoration-color: green;
    text-align: center;
    color: red;
}

ul {
    list-style-type: square;
    border: 3px dashed brown;
    width: 90%;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid green;
    padding: 1em;
    background-color: aquamarine;
}

div.Preparation {
    border: 3px dashed brown;
    width: 95%;
}



a.Prev {
    text-align: left; 
    text-decoration-line: none;
}

a.Next {
    margin:1.1em 0em 0em 10em;
    text-decoration-line: none;
}

a:hover {
    color: black;
}

div {
    margin-bottom: 1.3em;
}

li {
    padding: 0.5em;
}



html {
    box-sizing: border-box;
}

.container {
    border: 5px double green;
    width: 80%;
    min-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    background-color: aliceblue;
    color: crimson;
}

ul,
div.Preparation {
    margin: 0 auto;
}

img {
    margin: 0 auto;
}

a:first-child {
    background-color: antiquewhite;
    color: #0000ee;
}